#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

img{
  height: auto;
  width: auto;
  align-items: center;
}

ion-content {
  background-image: url('https://fsb.zobj.net/crop.php?r=Wv0qAzFB-nCqU-w2_r1Wl7tXBGxeNRRXylaJ3Py71cF1Pt_A-0g7q9I7SAC6yO-dJjclgpVAjEvkujVM3YXQH_pXRuGqk4GqeFyLKgoxl5HXieuxt0qVKxYSyOBe4zSKE2wxPqmiKNKaiRIq');
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
}

ion-card-content{
  background-image: url('https://fsb.zobj.net/crop.php?r=Wv0qAzFB-nCqU-w2_r1Wl7tXBGxeNRRXylaJ3Py71cF1Pt_A-0g7q9I7SAC6yO-dJjclgpVAjEvkujVM3YXQH_pXRuGqk4GqeFyLKgoxl5HXieuxt0qVKxYSyOBe4zSKE2wxPqmiKNKaiRIq');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

p{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

b{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.poder{
  font-family:"Lucida Console", "Monaco", monospace;
}

ion-title{
  font-family: "Stencil Std", fantasy;
}