<ion-content [fullscreen]="true">
  <ion-fab vertical="top" horizontal="end" slot=fixed>
    <ion-fab-button [routerLink]="['/selection-page']">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-card *ngFor="let name of heroesNames; let i=index">
    <ion-card-title style="font-size:50px">{{heroesIDs[i]}}.- {{name}}</ion-card-title>
    
    <ion-card-content>
      <ion-fab horizontal="end" vertical="top" slot="fixed">
        <ion-fab-button [routerLink]="['/home']" (click)="removeHero(heroesIDs[i])" color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-fab-button>
      </ion-fab>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle><b style="font-size:25px">NIVELES DE PODER</b></ion-card-subtitle>
            <table>
              <tr>
                <td>
                  <p style="font-size:30px">Inteligencia: </p> 
                </td>
                <td style="width:50%; height: 80px; justify-content: center; align-items: center; text-align: center;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid grey;">
                  <p class="poder" style="font-size:30px; background-color:rgba(62, 16, 88, 0.699)">{{heroesPowerStats[i].intelligence}} </p> 
                </td>
              </tr>
              <tr>
                <td>
                  <p style="font-size:30px">Fuerza: </p> 
                </td>
                <td style="width:50%; height: 80px; justify-content: center; align-items: center; text-align: center;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid grey;">
                  <p class="poder" style="font-size:30px; background-color:rgba(62, 16, 88, 0.699)">{{heroesPowerStats[i].strength}} </p> 
                </td>
              </tr>
              <tr>
                <td>
                  <p style="font-size:30px">Velocidad: </p> 
                </td>
                <td style="width:50%; height: 80px; justify-content: center; align-items: center; text-align: center;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid grey;">
                  <p class="poder" style="font-size:30px; background-color:rgba(62, 16, 88, 0.699)">{{heroesPowerStats[i].speed}} </p> 
                </td>
              </tr>
              <tr>
                <td>
                  <p style="font-size:30px">Durabilidad: </p>  
                </td>
                <td style="width:50%; height: 80px; justify-content: center; align-items: center; text-align: center;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid grey;">
                  <p class="poder" style="font-size:30px; background-color:rgba(62, 16, 88, 0.699)">{{heroesPowerStats[i].durability}} </p> 
                </td>
              </tr>
              <tr>
                <td>
                  <p style="font-size:30px">Poder: </p>  
                </td>
                <td style="width:50%; height: 80px; justify-content: center; align-items: center; text-align: center;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid grey;">
                  <p class="poder" style="font-size:30px; background-color:rgba(62, 16, 88, 0.699)">{{heroesPowerStats[i].power}} </p> 
                </td>
              </tr>
              <tr>
                <td>
                  <p style="font-size:30px">Combate: </p> 
                </td>
                <td style="width:50%; height: 80px; justify-content: center; align-items: center; text-align: center; height:30px;position:absolute;z-index:3;border-left:1px solid black;border-right:1px solid black;border-bottom:1px solid grey;">
                      <p class="poder" style="font-size:30px; background-color:rgba(62, 16, 88, 0.699)">{{heroesPowerStats[i].combat}} </p> 
                </td>
              </tr>
            </table>
          </ion-col>
        <ion-col class="colinfo">
          <table style=" border-bottom: red 2px solid; border-left: red 2px solid; float: right; border-top: red 2px solid; border-right: red 2px solid;">
            <tr>
              <td colspan="2" margin-left="5px" margin-right="5px" margin-top="5px" margin-bottom="5px">
                <img  src="{{heroesImage[i].url}}" align-items="middle">
              </td>
            </tr>
            <tr  style="text-align: center; background:rgb(124, 25, 25); color: white; -moz-border-radius-topleft: 1em; -moz-border-radius-topright: 1em">
              <td colspan="2">
               <b>{{name}}</b>
              </td>
            </tr>
            <tr style="text-align: center; color: white; -moz-border-radius-topleft: 1em; -moz-border-radius-topright: 1em">
              <td style="width:50%; height: 50px; justify-content: center; align-items: center; text-align: center; background-color:rgba(255, 0, 0, 0.6)">
              Estatura: 
              </td>
              <td style="background-color:rgba(255, 0, 0, 0.1)">
                {{heroesAppearance[i].height[1]}}
              </td>
            </tr>
            <tr style="text-align: center; color: white; -moz-border-radius-topleft: 1em; -moz-border-radius-topright: 1em">
              <td style="background-color:rgba(255, 0, 0, 0.6)">
              Peso: 
              </td>
              <td style="background-color:rgba(255, 0, 0, 0.1)">
                {{heroesAppearance[i].weight[1]}}
              </td>
            </tr>
          </table>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-card-content>
  </ion-card>
  
  
</ion-content>
