<ion-content [fullscreen]="true">

  <ion-fab vertical="center" horizontal="start" slot="fixed">
    <ion-fab-button [routerLink]="['/home']">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button (click)="generateRandomNumber()">
      <ion-icon name="shuffle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

<div style="align-items: center; display: flex; justify-content: center;">
  <ion-card *ngIf="heroID!=null" style=" border-bottom: rgb(192, 56, 192) 2px solid; border-left: rgb(192, 56, 192) 2px solid; float: left; border-top: rgb(192, 56, 192) 2px solid; border-right: rgb(192, 56, 192) 2px solid;">
    <ion-card-content>
      <ion-grid size="100%">
        <ion-row>
          <ion-col size="4">
            <img  src="{{heroImage.url}}" align-items="middle" overflow="hidden">
          </ion-col>
          <ion-col>
            <ion-card-subtitle>-(cod: {{heroID}})-</ion-card-subtitle>
            <ion-card-title>{{heroName}}</ion-card-title>
            <span></span>
            <ion-fab-button [routerLink]="['/selection-page']" (click)="addHero()" color="success">
              <ion-icon name="add" style="color:black"></ion-icon>
          </ion-fab-button>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </ion-card-content>
  </ion-card>
</div>

</ion-content>


