#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

img{

  width: 33vw;
  height: auto;
  max-height: 30vh;
  max-width: auto;
  align-items: center;
  border-radius: 100%;
  border: 5px solid blueviolet;
}

ion-content {
  background-image: url('https://fsb.zobj.net/crop.php?r=Wv0qAzFB-nCqU-w2_r1Wl7tXBGxeNRRXylaJ3Py71cF1Pt_A-0g7q9I7SAC6yO-dJjclgpVAjEvkujVM3YXQH_pXRuGqk4GqeFyLKgoxl5HXieuxt0qVKxYSyOBe4zSKE2wxPqmiKNKaiRIq');
  background-repeat: repeat;
  background-size: 31vh 50vw;
  position: fixed;
}

ion-card-content{
  background-image: url('https://ctl.s6img.com/society6/img/yQ0ZTBFPFHpogfI7FT5WwFJCYbg/w_700/comforters/swatch/~artwork,fw_6000,fh_6000,iw_6000,ih_6000/s6-0091/a/35483573_13252893/~~/mystic-tree-purple-da6-comforters.jpg?wait=0&attempt=0');
  background-repeat: repeat;
  background-size: 100% auto;
  height: 40vh;
}

p{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

b{
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.poder{
  font-family:"Lucida Console", "Monaco", monospace;
}

ion-title{
  font-family: "Stencil Std", fantasy;
  font-weight: bold;
}

ion-card-title{
  text-shadow: -1px 0 blueviolet, 0 1px blueviolet, 1px 0 blueviolet, 0 -1px blueviolet;
  font-size: 25px;
  color: rgb(70, 16, 107);
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-weight: bold;
  border-bottom: blueviolet 2px solid;
  border-top: blueviolet 2px solid;
  border-left: blueviolet 2px solid;
  border-right: blueviolet 2px solid;
  text-decoration-color: rgba(0,0,255, 0.2);
  background-color: rgba(255, 0, 255, 0.61);
}

ion-card-subtitle{
  text-shadow: -1px 0 blueviolet, 0 1px blueviolet, 1px 0 blueviolet, 0 -1px blueviolet;
  font-size: 20px;
  color: rgb(0, 225, 255);
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

ion-card{
  height: 40vh;
  display: flex;
    flex-direction: column;
    width: 50% 50vw !important;
    margin: 0 !important;
}

span:before {
  content: '';
  width: 100%;
  height: 1em;
  display: inline-block;
  background: red; /* Remove, just showing empty line */
}
span {
  display: inline-block; /* Can remove if span:before width doesn't matter. */
}